.navbar-custom {
  background: var(--primary-color);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 1030;
}

.notification-menu {
  width: 320px;
  border-radius: 12px !important;
  overflow: hidden;
}

.notification-list {
  max-height: 280px; /* Suficiente para aprox 3-4 notificaciones */
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.notification-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.cursor-pointer {
  cursor: pointer;
}

.whitespace-normal {
  white-space: normal !important;
}

.btn-link:hover {
  opacity: 0.8;
}
